
#container {
    display: grid;
    grid-template-columns: 10vw 80vw 10vw;
    grid-template-rows: 10vh;
}
#pic {
    grid-column: 2 / span 1;
    grid-row: 1;
}
#name {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}
form {
    grid-column: 2 / span 1;
}
#email {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

#treeName {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}

#buttons {
    grid-column: 1;
    grid-row: 2 / span 1;

    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10vh;
}
#edit {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}
#save {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}

