
#container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5em;
}
#personalInfoFields {
    display: flex;
    flex-direction: column;
}
#buttons {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
button {
    width: 100%;
}

/* #pic {
    grid-column: 2 / span 1;
    grid-row: 1;
}
#name {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}
form {
    grid-column: 2 / span 1;
}
#email {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

#treeName {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}

#buttons {
    grid-column: 1;
    grid-row: 2 / span 1;

    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10vh;
}
#edit {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}
#save {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
} */

