
#container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}


section {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.rowc {
    width: 100%;   
    display: flex;
    justify-content: center;
    align-items: center;
}




form {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70% 30%;
}

#personalInfoFields {
    grid-column: 1;
    grid-row: 1 / span 1;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 1fr 1fr 1fr;
}

#name {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

#email {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

#treeName {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}

#buttons {
    grid-column: 1;
    grid-row: 2 / span 1;

    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 1fr 1fr;
}
#edit {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}
#save {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

