#container {
    display:grid;
    grid-template-columns: 10vw 80vw 10vw;
    grid-auto-rows: 10vh;
    margin-top: 3%;
}


h1 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    font-size: 30pt;
    text-align:center;
}

#source {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    font-size: large;
}

#amount {
    grid-column: 2 / span 1;
    grid-row: 4 / span 1;
    font-size: large;

}

#contribute {
    grid-column: 2 / span 1;
    grid-row: 6 / span 1;
    font-size: large;

}

#period {
    grid-column: 2 / span 1;
    grid-row: 8 / span 1;
    font-size: large;

}

#periodExpense {
    grid-column: 2 / span 1;
    grid-row: 7 / span 1;
    font-size: large;
}

#periodIncome {
    grid-column: 2 / span 1;
    grid-row: 6 / span 1;
    font-size: large;
}

.favourites {
    grid-column: 2 / span 1;
    grid-row: 9;
}

/* for expenses page*/
#dropdown {
    grid-column: 2 / span 1;
    grid-row: 6;
    align-self: center;
    justify-self: center;
}

.button {
    grid-column: 2 / span 1;
    grid-row: 10 / span 1;
}
.buttonIncome {
    grid-column: 2 / span 1;
    grid-row: 8 / span 1;
}