
.container {
    display: grid;
    grid-template-columns: 10vw 80vw 10vw;
    grid-auto-rows: 58px;
    justify-content: center;
}
@font-face {
    font-family: josefinBold;
    src: url(JosefinSans-Bold.ttf);
}

h1 {
    justify-self: center;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    font-family: josefinBold;
}
#form {
    grid-column: 2 / span 1;
    grid-row: 2 / span 11;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80% 10% 10%;
}

#savingsGoalFields {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25% 25% 25% 25%;
}

.form-source {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    justify-self: center;
}
.form-amount {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    justify-self: center;
}
.form-category {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    justify-self: center;
}
.form-date {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
    justify-self: center;
}
.form-add {
    grid-column: 1 / span 1;
    grid-row: 2 / span 2;
    width: 80vw;
    justify-self: center;
}
#add {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}
#addFav {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}
#saveExp {
    grid-column: 1 / span 1; 
    grid-row: 3 / span 1;
}
.form-favourites {
    grid-column: 2 / span 1;
    grid-row: 11;
    width: 80vw;
    justify-self: center;
}

.form-control {
    width: 80vw;
    height: 50px;
}
.label {
    font-size: 20px;
}

.box {
    background-color: red;
}