

.addExpenseContainer {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 5em;
    justify-content:center;
    align-items: center;
}
h1 {
    font-weight: bold;
}
#form {
    display: flex;
    flex-direction: column;
    gap: 6em;
    width: 80vw;
}

#savingsGoalFields {
    display: flex;
    flex-direction: column;
    gap: 3em;
    font-size: 1.2em;
    color: white;
}
form input {
    height: 3em;
}
.form-source {
    display: flex;
    flex-direction: column;
}
.form-amount {
    display: flex;
    flex-direction: column;
}
.form-category {
    display: flex;
    flex-direction: column;
}
#buttons {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
#addFav {
    width: 100%;
}
#saveExp {
    width: 100%;
}

