#container {
    display:grid;
    grid-template-columns: 10vw 80vw 10vw;
    grid-auto-rows: 10vh;
    margin-top: 3%;  
}

.formcontainer {
    grid-column: 2 / span 1;
    grid-row: 1 / span 3;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 15% 80%;
}
.formcontainer p {
    grid-column: 1;
    grid-row: 2 / span 1;
}

.goalName {
    grid-column: 1;
    grid-row: 1 / span 1;
    text-align: center;
    font-size: 30pt;
    font-weight: bold;
}

.input {
    grid-column: 1;
    grid-row: 3 / span 1;
}



/* #contribution {
    grid-column: 1;
    grid-row: 2 / span 1;
}

#input {
    grid-column: 2 / span 1;
    grid-row: 2 / span 2;
}

#input p {
    font-size: 1.1em;
}

.button {
    grid-column: 2 / span 1;
    grid-row: 4 / span 1;
} */