#container {
    display:grid;
    grid-template-columns: 10vw 80vw 10vw;
    grid-auto-rows: 10vh;
}
@font-face {
    font-family: josefinBold;
    src: url(JosefinSans-Bold.ttf);
}
h1 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    font-size: 30pt;
    font-family: josefinBold;
    text-align:center;
}

#income-notfound {
    grid-column: 2 / span 1;
    grid-row: 2 / span 3;
    justify-self: center;
}

.button {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    align-self: center;
}

