#container {
    display:grid;
    grid-template-columns: 10vw 80vw 10vw;
    grid-auto-rows: 10vh;
}

h1 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    font-size: 50pt;
    text-align:center;
}

#userIncome {
    border-radius: 25px;
    background-color:rgb(188, 183, 183);
    padding: 5%;
    grid-column: 2 / span 1;
    grid-row: 2 / span 3;
}

.button {
    grid-column: 2 / span 1;
    grid-row: 6 / span 1;
}


