@font-face {
    font-family: josefinBold;
    src: url(JosefinSans-Bold.ttf);
}
h1 {
    margin-top: 30px;
    text-align: center;
    font-size: 210%;
    font-family: josefinBold;
}
.btn1 {
    font-size: 2em;
    padding: 2%;
}