@font-face {
    font-family: josefin;
    src: url(JosefinSans-Regular.ttf);
}
@font-face {
    font-family: josefinBold;
    src: url(JosefinSans-Bold.ttf);
}

#mainBody {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    gap: 1.05em;
}
.bg-PC {
    background-color: #14080E;
}
.bg-SC {
    background-color: #ACC196;
}
.f-PC {
    color: #E9EB9E;
}
.f-SC {
    color: #49475B;
}
body {
    font-family: josefin;
    padding-top: 70px;
    margin-top: 30px;
    background-color: #14080E;
}
.nav {
    justify-content: center;
}

#title,
span {
    font-size: 200%;
    align-self: center;
}
.bg-BCIT {
    background-color: #73a589;
}
.bg-BCIT2 {
    background-color: #aae1c2;
}

.total-head {
    font-size: 20px;
    font-family: josefinBold;
}
.btn-1 {
    align-self: center;
    background-color: #ACC196;
    color: #14080E;
}
.btn-1:hover {
    color:white;
}
.btn-2 {
    align-self: center;
    border-color: #ACC196;
    color:#6b896e;
}
.btn-2:hover {
    background-color:#E9EB9E;
    color:black;
}
.btn-3 {
    background-color: #93a97c;
    color: white;
    width: 100%;
}
.btn-3:hover {
    color: black;
}
.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-40 {
    font-size: 40px;
}
a {
    text-decoration: none;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.md-100 {
    font-size: 100px;
}

.welcome-back {
    padding: 4%;
    color: rgb(187, 196, 204);
}
h1 {
    color: rgb(187, 196, 204);
}
.welcome-back>h1 {
    font-size: 250%;
}
.savings-home {
    text-decoration: none;
    color: #9c9e65;
    display: flex;
    flex-direction:column;
    justify-content: center;
}
.savings-home:hover {
    color: #E9EB9E;
    font-size: 1.3em;
}

.save-grid {
    grid-template-areas:
        'save-logo save-logo save-heading save-heading';
    display: grid;
    grid-gap: 0px;
    border: 2px solid;
    align-content: center;
    border-radius: 30px;
    margin-left: 5%;
    margin-right: 5%;
}

span {
    grid-area: save-logo;
    align-self: center;
    margin-left: 5%;
    justify-self: center;
}

.save-heading {
    margin-top: 2%;
    grid-area: save-heading;
    font-size: 175%;
    letter-spacing: 4px;
    font-family: josefinBold;
    justify-self: start;
    align-self: start;
}
.mainBody {
    overflow: auto;
}
.more {
    font-size: 200%;
}
.actual-button {
    color:white;
}
.round {
    border-radius: 25px;
}
.back-button {
    background-color:#ACC196;
    padding: 15px;
    position: fixed;
    border-radius: 1.5em;
    z-index: 100;
    cursor: pointer;
}

.ernie-button {
    text-align: center;
}

.ernie-grid {
    display: grid;
    border: 2px solid;
    margin-left: 5vw;
    margin-right: 5vw;
    border-radius: 50px;
    grid-template-areas:
    'a b b'
    'a c c';
    align-items: center;
    color: #9c9e65;
}
.ernie-grid:hover {
    color:  #E9EB9E;
}

img {
    width: 150px;
    grid-area: a;
    justify-self: center;
}

.ernie-heading {
    grid-area: b;
    justify-self: start;
    align-self: end;
    font-size: 25px;
}
.ernie-text {
    grid-area: c;
    font-size: 35px;
    justify-self: start;
}
.ernie-button {
    text-decoration: none;
    color: #53a076;
}

