@font-face {
    font-family: josefin;
    src: url(JosefinSans-Regular.ttf);
}

body {
    font-family: josefin;
    padding-top: 70px;
    margin-top: 30px;
}
.nav {
    justify-content: center;
}

#title,
span {
    font-size: 200%;
    align-self: center;
}
.bg-BCIT {
    background-color: #73a589;
}
.bg-BCIT2 {
    background-color: #aae1c2;
}

.btn-1 {
    align-self: center;
    background-color: rgb(107, 137, 110);
    color: white;
}
.btn-1:hover {
    color:rgb(197, 158, 61);
}
.btn-2 {
    align-self: center;
    border-color: rgb(107, 137, 110);
    color:#6b896e;
}
.btn-2:hover {
    background-color: rgb(107, 137, 110);
    color:white;
}
.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-40 {
    font-size: 40px;
}
a {
    text-decoration: none;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.md-100 {
    font-size: 100px;
}

.welcome-back {
    padding: 4%;
}

.welcome-back>h1 {
    font-size: 250%;
}
.savings-home {
    text-decoration: none;
    color: #5dab7f;
}

.save-grid {
    grid-template-areas:
        'save-logo save-logo save-heading save-heading';
    display: grid;
    grid-gap: 0px;
    border: 2px solid;
    align-content: center;
    border-radius: 30px;
    margin-left: 5%;
    margin-right: 5%;
}

span {
    grid-area: save-logo;
    align-self: center;
    margin-left: 5%;
    justify-self: center;
}

.save-heading {
    margin-top: 2%;
    grid-area: save-heading;
    font-size: 175%;
    letter-spacing: 6px;
    font-weight: bold;
    justify-self: start;
    align-self: start;
}
.mainBody {
    overflow: auto;
}
.more {
    font-size: 200%;
}

.round {
    border-radius: 25px;
}
.back-button {
    background-color:#73a589;
    padding: 15px;
    position: fixed;
    border-radius: 1.5em;
    z-index: 100;
    cursor: pointer;
}