#container {
    display: grid;
    grid-template-columns: 10vw 80vw 10vw;
    grid-auto-rows: 10vh;
    padding: 2% 2%;
}

h1 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    font-size: 30pt;
    text-align: center;
}

#newGoal {
    grid-column: 2 / span 1;
    grid-row: 2 / span 2;

    display:grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 10% 50% 20% 20%;
    grid-template-areas: 
    'name name name name name'
    'amt amt amt amt edit'
    'date date date date b'
    'contribute contribute contribute contribute delete';
    grid-gap: 1.5em;
}

#newGoal p {
    font-size: x-large;
}

#newGoal > p  {
    grid-area: name;
    font-size: 26pt;
}

#amount {
    grid-area: amt;
    border-style: groove;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items:center;
}

#amount p {
    font-size: xx-large;
}

#date {
    grid-area: date;
    display:flex;
    justify-content: center;
    align-items: center;
}

#date p {
    font-size: medium;
}

#edit {
    grid-area: edit;
    display: flex;
    align-items: center;
}

#contribute {
    grid-area: contribute;
}

#delete {
    grid-area: delete;

}

