.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-40 { font-size: 40px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-100 { font-size: 100px; }

#mainNavbar, .navbar-brand {
    justify-content: center;
    font-size: 150%;
}
.welcome-back {
    padding: 4%;
}
.welcome-back > h1 {
    font-size: 300%;
    border: 2px solid;
}
.quick-analytics {
    text-decoration: none;
}
.qa-grid {
    grid-template-areas:
    'qa-logo qa-heading qa-heading qa-heading'
    'qa-logo qa-description qa-description qa-description';
    display: grid;
    grid-gap: 0px;
    border: 2px solid;
    align-content: center;
    border-radius: 30px;
    margin-left: 5%;
    margin-right: 5%;
}
.qa-logo {
    grid-area: qa-logo;
    align-self: center;
}
.qa-heading {
    grid-column: 2;
    font-size: 300%;
    grid-row: 1;
    align-self: start;
    justify-self: start;
}
.qa-description {
    grid-column: 2;
    grid-row: 2;
    font-size: 175%;
}