@font-face {
    font-family: josefin;
    src: url(JosefinSans-Regular.ttf);
}
body {
    font-family: josefin;
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-40 { font-size: 40px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-100 { font-size: 100px; }

#mainNavbar, .navbar-brand {
    justify-content: center;
    font-size: 150%;
}
.welcome-back {
    padding: 4%;
}
.welcome-back > h1 {
    font-size: 300%;
}
.quick-analytics-home {
    text-decoration: none;
    color: rgb(0, 136, 255);
}
.qa-grid {
    grid-template-areas:
    'qa-logo qa-heading qa-heading qa-heading'
    'qa-logo qa-description qa-description qa-description';
    display: grid;
    grid-gap: 0px;
    border: 2px solid;
    align-content: center;
    border-radius: 30px;
    margin-left: 5%;
    margin-right: 5%;
}
.qa-logo {
    grid-area: qa-logo;
    align-self: center;
}
.qa-heading {
    grid-area: qa-heading;
    font-size: 300%;
    grid-row: 1;
    align-self: start;
    justify-self: start;
}
.qa-description {
    grid-area: qa-description;
    font-size: 175%;
}
.savings-home {
    text-decoration: none;
    color: rgb(0, 136, 255);
}
.save-grid {
    grid-template-areas:
    'save-logo save-heading save-heading save-heading'
    'save-logo save-description save-description save-description';
    display: grid;
    grid-gap: 0px;
    border: 2px solid;
    align-content: center;
    border-radius: 30px;
    margin-left: 5%;
    margin-right: 5%;
}
.save-logo {
    grid-area: save-logo;
    align-self: center;
    margin-left: 1vw;
}
.save-heading {
    grid-area: save-heading;
    font-size: 300%;
    align-self: start;
    justify-self: start;
}
.save-description {
    grid-area: save-description;
    font-size: 175%;
}
.container {
    margin-top: 2%;
}
.backbtn {
    justify-content: start;
}